apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubetestapi-deployment
spec:
  selector:
    matchLabels:
      app: kubetestapi-deployment
  template:
    metadata:
      labels:
        app:  kubetestapi-deployment
    spec:
      #initContainers:
      #  - name: wait-for-onezone
      #    image: ghcr.io/groundnuty/k8s-wait-for:v1.6
      #    imagePullPolicy: Always
      #    args:
      #      - "job"
      #      - "myapp-migration-job"
      containers:
      - name:  kubetestapi-deployment
        image: ghcr.io/marinosefstathiou/firstimage:v4.4.4
        #command:
        #- "/bin/bash"
        #- "-c"
        #- |
        #  dotnet ef database update --context WeatherDBContext
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "200Mi"
            cpu: "0.5"
          limits:
            memory: "200Mi"
            cpu: "0.5"
      imagePullSecrets:
        - name: githubsecret
