apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubetestapi-deployment
spec:
  selector:
    matchLabels:
      app: kubetestapi-deployment
  template:
    metadata:
      labels:
        app:  kubetestapi-deployment
    spec:
      containers:
      - name:  kubetestapi-deployment
        image: ghcr.io/marinosefstathiou/firstimage:v9.9.9
        #command:
        #- "/bin/bash"
        #- "-c"
        #- |
        #  dotnet ef database update --context WeatherDBContext
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "200Mi"
            cpu: "1"
          limits:
            memory: "200Mi"
            cpu: "1"
      imagePullSecrets:
        - name: githubsecret
