apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubetestapi-deployment
spec:
  selector:
    matchLabels:
      app: kubetestapi-deployment
  template:
    metadata:
      labels:
        app:  kubetestapi-deployment
    spec:
      containers:
      - name:  kubetestapi-deployment
        env:
        - name: TAG_VERSION
          value: 0.0.1
        image: ghcr.io/marinosefstathiou/firstimage:v4.0.0
        command: ["dotnet", "ef", "database", "update", "--startup-project", "KubeTestAPI"]
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 80
      imagePullSecrets:
        - name: githubsecret
