apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubetestapi-deployment
spec:
  selector:
    matchLabels:
      app: kubetestapi-deployment
  template:
    metadata:
      labels:
        app:  kubetestapi-deployment
    spec:
      containers:
      - name:  kubetestapi-deployment
        #env:
        #- name: TAG_VERSION
        #  value: 0.0.1
        image: ghcr.io/marinosefstathiou/firstimage:v3.0.0
        command:
        - /bin/sh
        - -c
        - |
          dotnet restore
          dotnet ef database update
        env:
        - name: ConnectionString
          value: "host=153.70.79.161,5432; Database =hippo;Persist Security Info=True;User ID=hippo;Password=2k(3Ty}w:+_|0p6]8@IGl=p["
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "200Mi"
            cpu: "1"
          limits:
            memory: "200Mi"
            cpu: "1"
      imagePullSecrets:
        - name: githubsecret
