apiVersion: batch/v1
kind: Job
metadata:
  name: myapp-migration-job
spec:
  template:
    metadata:
      name: myapp-migration-job
    spec:
      containers:
        - name: myapp-migration-container
          image: ghcr.io/marinosefstathiou/efimage:v0.0.1
          #command:
          #  - "/bin/sh"
          #  - "-c"
          #  - "dotnet ef database update --context WeatherDBContext"
          command: ["dotnet", "run", "--", "migrate"]
          #"dotnet", "dev-certs", "https", "--trust", "&&", 
          env:
          - name: ConnectionStrings__Default
          value: "host=153.70.79.161,5432; Database =hippo;Persist Security Info=True;User ID=hippo;Password=2k(3Ty}w:+_|0p6]8@IGl=p["
      #imagePullSecrets:
      #  - name: githubsecret
      restartPolicy: OnFailure
