
name: Create and publish a Docker image to Github Packages 

on:
  push:
    branches: ['master']

env:
  REGISTRY: ghcr.io
  PROJECT_ID: marinosefstathiou/publish-to-grc
  IMAGE_NAME: ${{ github.repository }}
  VERSION_FILE: Version.txt

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUBREPO }}
      - name: Get version from repository
        id: image_version
        run: |
            CURRENT_VERSION=$(cat ${{ env.VERSION_FILE }})
      - name: Build Docker Image
        #uses: docker/build-push-action@v3
        #with:
          #context: .
          #file: Dockerfile
          #push: true
          #tags: gcr.io/${{ env.PROJECT_ID }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}
        run: |
          docker build . --tag ghcr.io/marinosefstathiou/firstimage:latest
          docker push ghcr.io/marinosefstathiou/firstimage:${{ steps.image_version.outputs.CURRENT_VERSION }}
