name: CI on push
on:
  push:
    branches: [ master ]
env:
        DOCKER_MEMORY_LIMIT: 4G
        DOCKER_CPU_LIMIT: 4
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Login to GHCR
      uses: docker/login-action@v1
      with:
       registry: ghcr.io
       username: ${{ github.actor }}
       password: ${{ secrets.GITHUB_TOKEN }}
    - name: Run build
      run: |
         docker login ${{ github.actor }} ${{ secrets.GITHUB_TOKEN }}
         docker build . --tag ghcr.io/marinosefstathiou/publish-to-grc:latest
         docker run ghcr.io/marinosefstathiou/publish-to-grc:latest
         docker push ghcr.io/marinosefstathiou/publish-to-grc:latest
